@use "styles/breakpoints";
@use "styles/colors";

.WallOfShame {
    width: 100%;

    .Title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h1 {
            height: max-content;
            color: #ffffff;
            font-family: "Tungsten Bold";
            font-weight: 100;
            font-size: 120px;
            text-transform: uppercase;
            letter-spacing: 5px;
            border: 2px solid colors.$red;
            padding: 0 80px;
        }

        span {
            color: colors.$red;
        }
    }

    .Screen {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url(/wall-of-shame-background.svg);
        background-position: center;
        background-size: auto 50%;
        gap: 10%;

        &:first-of-type {
            background: none;
        }

        .LeaderboardContainer {
            width: 40%;
        }
    }

    @media (max-width: breakpoints.$small-break) {
        .Title {
            h1 {
                padding: 0 40px;
                font-size: 50px;
            }
        }

        .Screen {
            flex-direction: column;
            height: auto;
            margin: 50px 0;
            gap: 50px;

            .LeaderboardContainer {
                width: auto;
                max-width: 100%;
            }
        }
    }
}
