@use "styles/breakpoints";
@use "styles/colors";
@use "styles/lengths";

.WallOfShame {
    .Header {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        height: lengths.$navbar-height;
        padding: 25px;
        padding-right: calc(25px + lengths.$left-side);
        background-color: colors.$background-color;
    }

    .Title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h1 {
            height: max-content;
            color: #ffffff;
            font-family: "Tungsten Bold";
            font-weight: 100;
            font-size: 120px;
            text-transform: uppercase;
            letter-spacing: 5px;
            border: 2px solid colors.$red;
            padding: 0 80px;
        }

        span {
            color: colors.$red;
        }
    }

    .Screen {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url(/wall-of-shame-background.svg);
        background-position: center;
        background-size: auto 50%;
        gap: 5%;

        &:first-of-type {
            background: none;
        }
    }

    @media (max-width: breakpoints.$large-break) {
        .Header {
            padding-right: 25px;
        }
    }

    @media (max-width: breakpoints.$small-break) {
        .Title {
            margin-top: lengths.$navbar-height;
            h1 {
                padding: 0 40px;
                font-size: 50px;
            }
        }

        .Screen {
            flex-direction: column;
            height: auto;
            margin: 50px 0;
            gap: 50px;

            .LeaderboardContainer {
                width: auto;
                max-width: 100%;
            }
        }
    }
}
