@use "styles/breakpoints";
@use "styles/lengths";

.PlayerCard {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #ffffff;

    .PlayerContainer {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 25px;
        z-index: 1;

        .PlayerAvatarContainer {
            img {
                width: auto;
                height: 250px;
            }

            h1 {
                font-size: 32px;
                text-align: center;
            }
        }

        .PlayerDescription {
            display: flex;
            flex-direction: column;
            border-left: 2px solid #ffffff;
            padding-left: 20px;
            margin-top: 20px;
            width: 50%;

            .PlayerDescriptionEntry {
                margin: 0;
                margin-bottom: 8px;

                &:last-of-type {
                    margin: 0;
                }

                p {
                    font-size: 16px;
                }

                h2 {
                    color: #c8c8c8;
                    font-size: 10px;
                }

                img {
                    margin: 0;
                    height: 21px;
                    width: auto;
                }
            }
        }
    }

    .FullBodyAgentImageContainer {
        position: absolute;
        clip-path: polygon(0 0,
                400px 0,
                400px 400vh,
                0 400vh);

        img {
            position: absolute;
            width: auto;
            height: 400px;
            opacity: 25%;
            pointer-events: none;
            z-index: 0;
        }

        img:nth-child(1) {
            left: 200px;
            top: 400px;
        }

        img:nth-child(2) {
            left: 0px;
            top: 800px;
        }

        img:nth-child(3) {
            left: 200px;
            top: 1200px;
        }
    }

    @media (max-width: breakpoints.$medium-break) {
        flex-direction: row;
        justify-content: center;

        img {
            margin-top: 0;
        }

        .PlayerContainer {
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .PlayerDescription {
                width: auto;
                margin-left: 50px;
            }
        }

        .FullBodyAgentImageContainer {
            display: none;
        }
    }

    @media (max-width: breakpoints.$mobile-break) {
        flex-direction: column;
        justify-content: center;

        .PlayerContainer {
            flex-direction: column;
            padding: 0;

            .PlayerAvatarContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .PlayerDescription {
                width: 80%;
                margin: 0 auto;
                margin-top: 15px;
            }
        }
    }
}