@use "styles/breakpoints";

.PlayerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;

    img {
        width: auto;
        height: 250px;
    }

    h1 {
        font-size: 32px;
        text-align: center;
    }

    .PlayerContainer {
        padding: 25px;
    }

    .PlayerDescription {
        display: flex;
        flex-direction: column;
        border-left: 2px solid #ffffff;
        padding-left: 20px;
        margin-top: 20px;
        width: 50%;

        .PlayerDescriptionEntry {
            margin: 4px 0;

            p {
                font-size: 16px;
            }

            h2 {
                color: #c8c8c8;
                font-size: 10px;
            }

            img {
                margin: 0;
                height: 36px;
                width: auto;
            }
        }
    }

    .FullBodyAgentImageContainer {
        img {
            position: absolute;
            width: 200px;
            height: auto;
            opacity: 25%;
            pointer-events: none;
        }

        img:nth-child(1) {
            right: 0;
        }

        img:nth-child(2) {
            bottom: -500px;
            left: 0px;
        }

        img:nth-child(3) {
            bottom: -650px;
        }
    }

    @media (max-width: breakpoints.$medium-break) {
        flex-direction: row;
        justify-content: center;

        img {
            margin-top: 0;
        }

        .PlayerDescription {
            width: auto;
            margin-left: 50px;
        }

        .FullBodyAgentImageContainer {
            display: none;
        }
    }

    @media (max-width: breakpoints.$mobile-break) {
        flex-direction: column;
        justify-content: center;

        img {
            margin-top: 0;
        }

        .PlayerDescription {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 25px;
        }
    }
}
