@use "styles/fonts";

.Caption {
    border-left: 4px solid #ffffff;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 15px;

    h2 {
        font-size: fonts.$header-size;
        line-height: 1;
        margin-top: 0;
    }

    p {
        margin-top: 5px;
        font-size: fonts.$body-size;
    }
}