@use "styles/fonts";

.Caption {
    border-left: 4px solid #ffffff;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 15px;
    height: max-content;

    h2 {
        font-size: fonts.$header-size;
        font-weight: 700;
        line-height: 1;
        margin-top: 0;
    }

    h3 {
        margin-top: 5px;
        font-size: fonts.$sub-header-size;
        font-weight: 100;
        color: #c7c7c7;
    }
}