* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100vw;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #1a242c;
    font-family: "Segoe UI", sans-serif;
    font-weight: 100;
}

@font-face {
    font-family: "Tungsten Bold";
    src: local("Tungsten Bold"),
        url(/fonts/Tungsten-Bold/Tungsten-Bold.ttf) format("truetype");
}
