.Main {
    display: flex;
    flex-direction: row;
}

.Left {
    width: 250px;
}

.Right {
    flex: 1;
    padding-top: 100px;
}

.Stats {
    display: grid;
    padding: 25px;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 25px;
    column-gap: 25px;
    row-gap: 25px;
}

.WinRateOverTimeDashboardContainer {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;
}

.LobbyWinRateDashboardContainer {
    grid-column-start: 7;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 10;
}

.TeammateSynergyDashboardContainer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 17;
}

.MatchupsDashboardContainer {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 17;
}

.MapCountDashboardContainer {
    grid-column-start: 7;
    grid-column-end: -1;
    grid-row-start: 10;
    grid-row-end: 17;
}

.RoleLeaderboardDashboardContainer {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 17;
    grid-row-end: 21;
}

.AgentCountDashboardContainer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 21;
    grid-row-end: 32;
}

/* @media (max-width: 1250px) {
    .Main {
        flex-direction: column;
        height: 100%;
    }

    .IndividualStats {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25px 1fr 25px 1fr 25px;
        width: 40%;
    }

    #RunningWinrateOverTime {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    #TeammateSynergy {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    #Matchups {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
        height: 300px;
    }

    .LobbyStats {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25px 3fr 25px 2fr 25px;
        margin-left: 25px;
        width: 40%;
    }

    #LobbyWinRates {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }


    #MapCounter {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }
  } */