@use "styles/breakpoints";
@use "styles/colors";

.Main {
    display: flex;
    flex-direction: row;
    width: 100%;

    .Left {
        background-color: colors.$playercard-color;
        width: 400px;
    }

    .Right {
        flex: 1;
    }

    .PlayerCardContainer {
        position: sticky;
        top: 0;
    }

    .HeaderContainer {
        display: flex;
        position: sticky;
        z-index: 10;
        top: 0;
        padding: 25px;
        background-color: colors.$background-color;
    }

    .Stats {
        display: grid;
        padding: 25px;
        grid-template-columns: repeat(10, 1fr);
        grid-auto-rows: 25px;
        column-gap: 25px;
        row-gap: 25px;
    }

    .WinRateOverTimeDashboardContainer {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 8;
    }

    .LobbyWinRateDashboardContainer {
        grid-column-start: 7;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 10;
    }

    .TeammateSynergyDashboardContainer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 17;
    }

    .MatchupsDashboardContainer {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 8;
        grid-row-end: 17;
    }

    .MapCountDashboardContainer {
        grid-column-start: 7;
        grid-column-end: -1;
        grid-row-start: 10;
        grid-row-end: 17;
    }

    .RoleLeaderboardDashboardContainer {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 17;
        grid-row-end: 21;
    }

    .AgentCountDashboardContainer {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 21;
        grid-row-end: 32;
    }

    @media (max-width: breakpoints.$medium-break) {
        flex-direction: column;

        .Left {
            width: 100%;
            padding-top: 100px;
        }

        .HeaderContainer {
            width: 100vw;
            height: 100px;
            position: fixed;
        }

        .Right {
            flex: 1;
        }

        .PlayerCardContainer {
            position: relative;
            width: 100%;
        }

        .AgentCountDashboardContainer {
            grid-column-start: 1;
            grid-column-end: -1;
            grid-row-start: 21;
            grid-row-end: 32;
        }
    }

    @media (max-width: breakpoints.$mobile-break) {
        .Stats {
            display: flex;
            flex-direction: column;
        }

        .WinRateOverTimeDashboardContainer {
            height: 300px;
        }

        .TeammateSynergyDashboardContainer {
            height: 400px;
        }

        .MatchupsDashboardContainer {
            height: 400px;
        }

        .LobbyWinRateDashboardContainer {
            height: 400px;
        }

        .MapCountDashboardContainer {
            height: 400px;
        }

        .RoleLeaderboardDashboardContainer {
            flex: 1;
        }

        .AgentCountDashboardContainer {
            height: 400px;
        }
    }
}

