.Main {
    overflow: auto;
    width: 100%;
    height: 100%;
}

#RunningWinrateOverTime {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
    width: 800px;
    height: 400px;
}

#LobbyWinRates {
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 500px;
}