@use "styles/colors";
@use "styles/lengths";
@use "styles/mixins";

.HomeScreen {
    .Header {
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: lengths.$navbar-height;
        padding: 25px;
        color: #ffffff;
        background-color: colors.$background-color;
        margin-right: lengths.$left-side;
        z-index: 10;

        .Spacer {
            flex: 1;
        }
    }
}
