@use "styles/breakpoints";
@use "styles/colors";
@use "styles/lengths";

.HomeScreen {
    padding-bottom: 50px;

    .Header {
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: lengths.$navbar-height;
        padding: 25px;
        color: #ffffff;
        background-color: colors.$background-color;
        margin-right: lengths.$left-side;
        z-index: 10;

        .Spacer {
            flex: 1;
        }
    }

    .Main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 50px;
        padding-top: lengths.$navbar-height;

        .PlayerCardRow {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: row;
            width: 100%;
            gap: 5%;
            padding-top: 25px;

            .PlayerCardContainer {
                opacity: 0.5;
                width: 25%;
                transition: opacity 0.5s ease;
                transition: width 0.5s ease;
            }

            .PlayerCardContainer:hover {
                opacity: 1;
                width: 30%;
            }
        }
    }

    @media (max-width: breakpoints.$mobile-break) {
        .Main {
            .PlayerCardRow {
                flex-direction: column;
                gap: 40px;
                padding-top: 0;

                :first-child {
                    padding-top: 25px;
                }

                .PlayerCardContainer {
                    opacity: 1;
                    width: 80%;
                }

                .PlayerCardContainer:hover {
                    width: 80%;
                }
            }
        }
    }
}
