@use "styles/breakpoints";

.Header {
    display: flex;
    flex-direction: row;
    padding-left: 12px;
    color: #ffffff;
    width: 100%;

    .TextContainer {
        flex: 1;

        h1 {
            line-height: 100%;
            font-size: 40px;
        }

        p {
            font-size: 12px;
        }
    }

    .SelectorContainer {
        margin-right: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            padding-right: 10px;
        }
    }

    @media (max-width: breakpoints.$mobile-break) {
        align-items: center;
        padding: 0;

        .TextContainer {
            flex: 2;

            h1 {
                font-size: 20px;
            }

            p {
                font-size: 12px;
            }
        }

        .SelectorContainer {
            flex-direction: column;
            margin-right: 0;
            flex: 1;
            justify-content: center;

            h2 {
                font-size: 14px;
                margin-bottom: 12px;
            }
        }
    }
}
