@use "styles/colors";

.Dashboard {
    display: flex;
    background-color: colors.$dashboard-color;
    color: white;
    box-shadow: 0px 0px 16px 4px #3d5569;
    border-radius: 8px;
    padding: 15px;
}
