@use "styles/breakpoints";
@use "styles/colors";
@use "styles/fonts";
@use "styles/lengths";

.Player {
    .Header {
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 0;
        padding: 25px;
        align-items: center;
        color: #ffffff;
        background-color: colors.$background-color;
        margin-right: lengths.$left-side;
        height: lengths.$navbar-height;
        z-index: 10;

        .TextContainer {
            flex: 1;

            h1 {
                line-height: 100%;
                font-size: 40px;
            }

            p {
                font-size: fonts.$body-size;
                color: #c7c7c7;
            }
        }

        .SelectorContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #ffffff;

            h2 {
                padding-right: 10px;
            }
        }
    }

    .Main {
        display: flex;
        flex-direction: row;
        width: 100%;

        .Left {
            background-color: colors.$playercard-color;
            width: lengths.$left-side;
        }

        .Right {
            flex: 1;
            padding-right: lengths.$left-side;
        }

        .PlayerCardContainer {
            height: 100%;
        }

        .PlayerCardContainerEnter {
            opacity: 0;
        }

        .PlayerCardContainerEnterActive {
            opacity: 1;
            transition: opacity 0.5s ease;
        }

        .PlayerCardContainerExit {
            opacity: 1;
        }

        .PlayerCardContainerExitActive {
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        .Stats {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-auto-rows: 30px;
            column-gap: 25px;
            row-gap: 25px;
            padding: 0 25px;
            padding-top: 15px;
        }

        .WinRateOverTimeDashboard {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 8;
        }

        .MapPerformanceDashboard {
            grid-column-start: 7;
            grid-column-end: -1;
            grid-row-start: 1;
            grid-row-end: 10;
        }

        .TeammateSynergyDashboard {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 8;
            grid-row-end: 17;
        }

        .MatchupsDashboard {
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 8;
            grid-row-end: 17;
        }

        .MapCountDashboard {
            grid-column-start: 7;
            grid-column-end: -1;
            grid-row-start: 10;
            grid-row-end: 17;
        }

        .AgentCountDashboard {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 17;
            grid-row-end: 28;
        }

        .SupportSynergyDashboard {
            grid-column-start: 6;
            grid-column-end: -1;
            grid-row-start: 17;
            grid-row-end: 28;
        }

        .FooterContainer {
            padding: 10px 25px;
            align-items: center;
            color: #ffffff;

            .Footer {
                width: 100%;
                opacity: 50%;
                font-size: fonts.$body-size;

                p {
                    font-style: italic;

                    &:first-child {
                        margin-bottom: 5px;
                    }

                    a,
                    a:link,
                    a:visited,
                    a:hover,
                    a:active {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    @media (max-width: breakpoints.$large-break) {
        .Header {
            margin-right: 0;
        }

        .Main {
            .Right {
                flex: 1;
                padding-right: 0;
            }
        }
    }

    @media (max-width: breakpoints.$medium-break) {
        .Main {
            flex-direction: column;

            .Left {
                width: 100%;
                padding-top: 0;
            }

            .Right {
                padding-right: 0;
            }

            .Right {
                flex: 1;
            }

            .PlayerCardContainer {
                position: relative;
                width: 100%;
            }
        }
    }

    @media (max-width: breakpoints.$mobile-break) {
        .Header {
            .TextContainer {
                h1 {
                    font-size: 14px;
                }

                p {
                    font-size: 10px;
                }
            }

            .SelectorContainer {
                h2 {
                    font-size: 10px;
                }
            }
        }

        .Main {
            .Left {
                background-color: colors.$background-color;
            }

            .PlayerCardContainer {
                background-color: colors.$background-color;
            }

            .Stats {
                display: flex;
                flex-direction: column;
            }

            .WinRateOverTimeDashboard {
                height: 300px;
            }

            .TeammateSynergyDashboard {
                height: 400px;
            }

            .MatchupsDashboard {
                height: 400px;
            }

            .LobbyWinRateDashboard {
                height: 400px;
            }

            .MapCountDashboard {
                height: 400px;
            }

            .RoleLeaderboardDashboard {
                flex: 1;
            }

            .MapPerformanceDashboard {
                height: 300px;
            }

            .AgentCountDashboard {
                height: 350px;
            }

            .SupportSynergyDashboard {
                height: 350px;
            }
        }
    }
}