@use "styles/colors";

.TopPlayer {
    width: 100%;
    font-family: "Segoe UI", sans-serif;

    .AvatarContainer {
        path {
            stroke: colors.$red;
            stroke-width: 2px;
            fill-opacity: 0;
            z-index: 0;
        }

        text {
            fill: colors.$red;
            stroke: colors.$navy;
            stroke-width: 2px;
            font-size: 72px;
            font-family: Impact;
            font-weight: 800;
        }
    }

    .PlayerInfo {
        text {
            fill: #ffffff;
            stroke: none;
            font-size: 20px;
            font-weight: bold;
        }

        rect {
            fill: colors.$background-color;
            stroke: colors.$red;
        }
    }

    #Mask {
        rect {
            fill: #ffffff;
        }

        path {
            fill: #000000;
        }
    }

    .Ticks {
        path {
            fill: colors.$red;
        }
    }
}
