.Leaderboard {
    flex: 1;
    height: 100%;
    width: 100%;
}

.Leaderboard ol {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    list-style-position: inside;
    font-size: 12px;
}

.Leaderboard li {
    flex: 1;
}
