@use "styles/colors";

.RunnerUp {
    width: 300px;
    font-family: "Segoe UI", sans-serif;

    .AvatarContainer {
        text {
            fill: colors.$navy;
            stroke: colors.$red;
            stroke-width: 2px;
            font-size: 60px;
            font-family: Impact;
            font-weight: 800;
        }
    }

    .PlayerInfo {
        text {
            fill: #ffffff;
            stroke: none;
            font-size: 18px;
            font-weight: normal;
        }

        rect {
            fill: colors.$background-color;
            stroke: colors.$red;
        }
    }

    #Mask {
        rect {
            fill: #ffffff;
        }

        path {
            fill: #000000;
        }
    }

    .Ticks {
        path {
            fill: colors.$red;
        }
    }
}
